# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
weather_app/constants.py

.python-version 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 


# Visual Studio Code # 
.vscode/*